<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wk.test">

    <application
        android:name=".debug.TestApp"
        android:allowBackup="true"
        android:appComponentFactory=""
        android:fullBackupContent="true"
        android:icon="@drawable/test_icon"
        android:label="@string/test_modules_name"
        android:theme="@style/TestAppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:appComponentFactory,android:label">
        <activity
            android:name=".coroutines.flow.CoroutinesStateFlowActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.flow.CoroutinesFlowActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.suspend.CoroutinesSuspendActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.CoroutinesMainActivity"
            android:exported="false" />
        <activity
            android:name=".di.hilt.DiHiltActivity"
            android:exported="false" />
        <activity
            android:name=".di.dagger.DiDaggerActivity"
            android:exported="false" />
        <activity
            android:name=".di.DiMainActivity"
            android:exported="false" />
        <activity android:name=".recycle.RecycleViewMainActivity" />
        <activity android:name=".net.TestNetActivity" />
        <activity android:name=".handler.TestHandlerActivity" />
        <activity android:name=".aidl.AIDLActivity" />
        <activity android:name=".touch.TestMotionEventActivity" />
        <activity android:name=".bitmap.TestBitmapActivity" />
        <activity
            android:name=".TestMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>